@import "tailwindcss";



.lang{
    display: flex;
}

nav{
    display: flex;
    align-items: center;
}

nav::-webkit-scrollbar{
    display: none;
}

li{
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  flex-shrink: 0;
  cursor: pointer;
}

.all-cats{
    font-size: 14px;
}

.sub-lists{
    overflow: auto;
    overflow-y: hidden;
}
.sub-lists::-webkit-scrollbar{
    display: none;
}

@media (max-width:767px){
    .location-search{
        display: none;
    }
    .locations{
        display: none;
    }
}

@media (max-width:458px){
    .main-search{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
}



.profile-img {
    width: 90px;
    height: 50px;
    border-radius: 50% !important; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
}


@media (max-width: 768px) {
    .profile-img {
        width: 100px;
        height: 30px;
    }
}


@media (max-width: 480px) {
    .profile-img {
        width: 90px;
        height: 40px;
    }
}